@model hairSalonScheduler.Models.Stylist
@using hairSalonScheduler.Models.Enum
@{
    ViewData["Title"] = "Add Stylist";
}

<h1>Add Stylist</h1>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5w6p+q7Kd2r514xk7r2r7grUNl7z9gY4C0gy4Qbz"
            crossorigin="anonymous"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#profileImagePreview').attr('src', e.target.result);
                    $('#profileImagePreview').css('display', 'block');
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        function updateFileName() {
            const name = $('#Name').val().toLowerCase().replace(/\s+/g, '');
            const fileInput = $('#ProfileImage');
            const file = fileInput[0].files[0];

            if (!file) {
                return;
            }

            const fileExtension = file.name.split('.').pop();
            const newFileName = `${name}.${fileExtension}`;

            fileInput.next('.custom-file-label').html(newFileName);
        }

        $(document).ready(function () {
            $("#ProfileImage").change(function () {
                readURL(this);
            });

            $('#Name').on('keyup', function () {
                updateFileName();
            });
        });
    </script>
}

<form asp-action="CreateStylist" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="ProfileImage">Profile Image</label>
        <div class="custom-file">
            <input asp-for="ProfileImage" type="file" class="custom-file-input" id="ProfileImage" />
            <label class="custom-file-label" for="ProfileImage">Choose file</label>
        </div>
        <img id="profileImagePreview" src="#" alt="Profile Image Preview" style="display: none; max-width: 200px; max-height: 200px; margin-top: 10px;">
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Gender">Gender</label>
        <select asp-for="Gender" class="form-control">
            <option value="">Select Gender</option>
            @foreach (Gender gender in Enum.GetValues(typeof(Gender)))
            {
                <option value="@gender">@gender</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Availability</label>
        <div class="row">
            <div class="col-md-2">
                <strong>Day</strong>
            </div>
            <div class="col-md-5">
                <strong>Start Time</strong>
            </div>
            <div class="col-md-5">
                <strong>End Time</strong>
            </div>
        </div>
        @foreach (var availability in Model.Availabilities)
        {
            <div class="form-group row">
                <div class="col-md-2">
                    <label>@availability.DayOfWeek</label>
                </div>
                <div class="col-md-5">
                    <input asp-for="@availability.StartTime" class="form-control" type="time" name="availabilityStart" step="1800" />
                </div>
                <div class="col-md-5">
                    <input asp-for="@availability.EndTime" class="form-control" type="time" name="availabilityEnd" step="1800" />
                </div>
            </div>
        }
    </div>

    <div class="form-group">
        <label asp-for="Bio">Bio</label>
        <textarea asp-for="Bio" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Stylist</button>
</form>