@model hairSalonScheduler.Models.Customer
@{
    ViewData["Title"] = "Delete Customer";
}
<!--Basic Delete-->
<h1>Delete Customer</h1>
<p>Are you sure you want to delete the following customer?</p>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-10">@Model.DateOfBirth.ToShortDateString()</dd>
        <dt class="col-sm-2">Gender</dt>
        <dd class="col-sm-10">@Model.Gender</dd>
        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.Address</dd>
        <dt class="col-sm-2">Loyalty Points</dt>
        <dd class="col-sm-10">@Model.LoyaltyPoints</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="GetCustomer" class="btn btn-secondary">Back to List</a>
</form>