@model IEnumerable<hairSalonScheduler.Models.Customer>
@{
    ViewData["Title"] = "GetCustomer";
}

<h1>Customers</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Loyalty Points</th>
            <th>Appointments</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>@customer.DateOfBirth.ToShortDateString()</td>
                <td>@customer.Gender</td>
                <td>@customer.Address</td>
                <td>@customer.LoyaltyPoints</td>
                <td>
                    @foreach (var appointment in customer.Appointments)
                    {
                        <p>@appointment.SelectedDateTime - @appointment.Services.Category</p>                        
                        <div>
                            <a asp-controller="Appointment" asp-action="EditAppointment" asp-route-id="@appointment.Id" class="btn btn-sm btn-primary mr-2">
                                Edit
                            </a>
                            <a asp-controller="Appointment" asp-action="DeleteAppointment" asp-route-id="@appointment.Id" class="btn btn-sm btn-danger">
                                Delete
                            </a>
                        </div>
                        <br />
                    }
                </td>
                <td>
                    <a asp-controller="Customer" asp-action="EditCustomer" asp-route-id="@customer.Id" class="btn btn-sm btn-primary">
                        Edit
                    </a>
                    <a asp-controller="Customer" asp-action="DeleteCustomer" asp-route-id="@customer.Id" class="btn btn-sm btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>