@model IEnumerable<hairSalonScheduler.Models.Appointment>
<!--Basic View for a table of the information in Appointment-->
<h1>Appointments</h1>
<a class="btn btn-secondary" asp-controller="Appointment" asp-action="CreateAppointment">Create Appointment</a>
<table class="table">
    <thead>
        <tr>
            <th>Selected Date Time</th>
            <th>Status</th>
            <th>Payment Status</th>
            <th>Customer</th>
            <th>Stylist</th>
            <th>Service</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
    <tr>
                <td>@Html.DisplayFor(modelItem => appointment.SelectedDateTime)</td>
                <td>@Html.DisplayFor(modelItem => appointment.Status)</td>
                <td>@Html.DisplayFor(modelItem => appointment.PaymentStatus)</td>
                <td>@Html.DisplayFor(modelItem => appointment.Customers.Name)</td>
                <td>@Html.DisplayFor(modelItem => appointment.Stylists.Name)</td>
                <td>@Html.DisplayFor(modelItem => appointment.Services.Category)</td>
                <td>@Html.DisplayFor(modelItem => appointment.Services.Price)</td>
        <td>
                    <a asp-action="EditAppointment" class="btn btn-sm btn btn-warning mr-2" asp-route-id="@appointment.Id">Edit</a> |
                    <a asp-action="DeleteAppointment" class="btn btn-sm btn-danger" asp-route-id="@appointment.Id">Delete</a>
        </td>
    </tr>
        }
    </tbody>
</table>